USE [GESTION_CAJAS]
GO
/****** Object:  UserDefinedFunction [dbo].[LimpiarCaracteres]    Script Date: 4/11/2021 2:14:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[LimpiarCaracteres] ( @Cadena VARCHAR(MAX) )
RETURNS VARCHAR(MAX)
AS 
BEGIN
-- ============================================================
-- Author:		
-- Create date: <06 Jul 2018>
-- Description:	--				 y caracteres especiales>
-- Retorno:		
-- ============================================================
 --Reemplazamos las vocales acentuadas y caracteres especiales
 -- áéíóúàèìòùãõâêîôûäëïöüñÑçÇ ÁÉÍÓÚÀÈÌÒÙÃÕÂÊÎÔÛÄËÏÖÜ 
    RETURN 	
	REPLACE(REPLACE( /*vocales ÃÕ*/
	REPLACE(REPLACE(REPLACE(REPLACE(REPLACE( /*vocales ÄËÏÖÜ*/
	REPLACE(REPLACE(REPLACE(REPLACE(REPLACE( /*vocales ÂÊÎÔÛ*/
	REPLACE(REPLACE(REPLACE(REPLACE(REPLACE( /*vocales ÀÈÌÒÙ*/
	REPLACE(REPLACE(REPLACE(REPLACE(REPLACE( /*vocales ÁÉÍÓÚ*/
	REPLACE(REPLACE(REPLACE(REPLACE(REPLACE( /*vocales ñÑçÇ  incluido espacio en blanco*/
	REPLACE(REPLACE(REPLACE(REPLACE(REPLACE( /*vocales äëïöü*/
	REPLACE(REPLACE(REPLACE(REPLACE(REPLACE( /*vocales âêîôû*/
	REPLACE(REPLACE(REPLACE(REPLACE(REPLACE( /*vocales àèìòù*/
	REPLACE(REPLACE(REPLACE(REPLACE(REPLACE( /*vocales áéíóú*/ @Cadena, 'á', 'a'), 'é','e'), 'í', 'i'), 'ó', 'o'), 'ú','u')		
			,'à','a'),'è','e'),'ì','i'),'ò','o'),'ù','u')
			,'â','a'),'ê','e'),'î','i'),'ô','o'),'û','u')
			,'ä','a'),'ë','e'),'ï','i'),'ö','o'),'ü','u')
			,'ñ','n'),'Ñ','N'),'ç','c'),'Ç','C'),'','')
			,'Á','A'),'É','E'),'Í','I'),'Ó','O'),'Ú','U') 
			,'À','A'),'È','E'),'Ì','I'),'Ò','O'),'Ù','U') 
			,'Â','A'),'Ê','E'),'Î','I'),'Ô','O'),'Û','U')
			,'Ä','A'),'Ë','E'),'Ï','I'),'Ö','O'),'Ü','U') 
			,'Ã','A'),'Õ','O')  
END
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 4/11/2021 2:14:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[IDENTIFICADOR] [int] IDENTITY(1,1) NOT NULL,
	[ID_PERSONA] [int] NOT NULL,
	[TANDA_LABOR] [varchar](50) NOT NULL,
	[PORCIENTO_COMISION] [decimal](3, 2) NOT NULL,
	[FECHA_INGRESO] [date] NOT NULL,
	[ESTADO] [varchar](50) NULL,
	[SUELDO] [decimal](8, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDENTIFICADOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONA]    Script Date: 4/11/2021 2:14:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONA](
	[ID_PERSONA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](60) NOT NULL,
	[FECHA_NACIMIENTO] [date] NOT NULL,
	[GENERO] [char](1) NOT NULL,
	[CEDULA] [char](11) NOT NULL,
	[TIPO_CLIENTE] [varchar](25) NOT NULL,
	[SALDO] [decimal](8, 2) NULL,
 CONSTRAINT [PK__PERSONA__782441494ECDD8A9] PRIMARY KEY CLUSTERED 
(
	[ID_PERSONA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 4/11/2021 2:14:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_USUARIO] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](500) NOT NULL,
	[TIPO_USUARIO] [varchar](50) NOT NULL,
	[ID_EMPLEADO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VISTA_EMPLEADO]    Script Date: 4/11/2021 2:14:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[VISTA_EMPLEADO]
AS
SELECT P.NOMBRE, E.IDENTIFICADOR, E.TANDA_LABOR, E.PORCIENTO_COMISION, E.FECHA_INGRESO, E.SUELDO, P.FECHA_NACIMIENTO, P.GENERO, P.CEDULA, P.TIPO_CLIENTE,P.SALDO, E.ESTADO,U.TIPO_USUARIO FROM EMPLEADO AS E
INNER JOIN PERSONA AS P ON E.ID_PERSONA = P.ID_PERSONA
INNER JOIN USUARIO U ON U.ID_EMPLEADO = E.IDENTIFICADOR
GO
/****** Object:  Table [dbo].[ESTUDIANTE]    Script Date: 4/11/2021 2:14:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTUDIANTE](
	[IDENTIFICADOR] [int] IDENTITY(1,1) NOT NULL,
	[MATRICULA] [char](8) NOT NULL,
	[ID_PERSONA] [int] NOT NULL,
	[CARRERA] [char](3) NOT NULL,
	[FECHA_REGISTRO] [date] NOT NULL,
	[ESTADO] [varchar](50) NOT NULL,
 CONSTRAINT [PK__ESTUDIAN__46A2F689BD76084B] PRIMARY KEY CLUSTERED 
(
	[IDENTIFICADOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VISTA_ESTUDIANTE]    Script Date: 4/11/2021 2:14:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[VISTA_ESTUDIANTE] 
AS
SELECT E.IDENTIFICADOR,  P.NOMBRE, E.MATRICULA, E.CARRERA, E.FECHA_REGISTRO, E.ESTADO, P.FECHA_NACIMIENTO, P.GENERO, P.CEDULA, P.TIPO_CLIENTE,P.SALDO FROM ESTUDIANTE AS E
INNER JOIN PERSONA AS P ON E.ID_PERSONA = P.ID_PERSONA
GO
/****** Object:  Table [dbo].[TIPO_DOCUMENTO]    Script Date: 4/11/2021 2:14:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_DOCUMENTO](
	[ID_TIPO_DOCUMENTO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](300) NULL,
	[ESTADO] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_DOCUMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_PAGO]    Script Date: 4/11/2021 2:14:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_PAGO](
	[ID_TIPO_PAGO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](300) NULL,
	[ESTADO] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_PAGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_SERVICIO]    Script Date: 4/11/2021 2:14:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_SERVICIO](
	[ID_TIPO_SERVICIO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](300) NULL,
	[ESTADO] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_SERVICIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REG_MOV_CAJA]    Script Date: 4/11/2021 2:14:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REG_MOV_CAJA](
	[ID_REG_MOV_CAJA] [int] IDENTITY(1,1) NOT NULL,
	[ID_VENDEDOR] [int] NULL,
	[ID_CLIENTE] [int] NULL,
	[ID_TIPO_SERVICIO] [int] NULL,
	[ID_TIPO_DOCUMENTO] [int] NULL,
	[ID_TIPO_PAGO] [int] NULL,
	[FECHA_REG_MOV_CAJA] [datetime] NOT NULL,
	[MONTO_REG_MOV_CAJA] [decimal](8, 2) NULL,
	[ESTADO_REG_MOV_CAJA] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_REG_MOV_CAJA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VISTA_REG_MOV_CAJA]    Script Date: 4/11/2021 2:14:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[VISTA_REG_MOV_CAJA]
AS
(
	SELECT ID_REG_MOV_CAJA, P.NOMBRE AS [NOMBRE ENCARGADO],PA.NOMBRE AS [NOMBRE CLIENTE],ID_CLIENTE,TS.DESCRIPCION AS[TIPO DE SERVICIO],TD.DESCRIPCION AS [TIPO DE DOCUMENTO],TP.DESCRIPCION AS [TIPO DE PAGO], RMC.FECHA_REG_MOV_CAJA, MONTO_REG_MOV_CAJA, ESTADO_REG_MOV_CAJA
    FROM REG_MOV_CAJA RMC 
								   INNER JOIN EMPLEADO E ON E.IDENTIFICADOR=RMC.ID_VENDEDOR 
								   INNER JOIN PERSONA P ON P.ID_PERSONA= E.ID_PERSONA
								   INNER JOIN PERSONA PA ON PA.ID_PERSONA=RMC.ID_CLIENTE
								   FULL OUTER JOIN TIPO_SERVICIO TS ON TS.ID_TIPO_SERVICIO= RMC.ID_TIPO_SERVICIO 
								   FULL OUTER JOIN TIPO_DOCUMENTO TD ON TD.ID_TIPO_DOCUMENTO=RMC.ID_TIPO_DOCUMENTO
								   INNER JOIN TIPO_PAGO TP ON TP.ID_TIPO_PAGO=RMC.ID_TIPO_PAGO

)
GO
/****** Object:  Table [dbo].[MODALIDAD_PAGO]    Script Date: 4/11/2021 2:14:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODALIDAD_PAGO](
	[ID_TIPO_DOCUMENTO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](300) NULL,
	[CANTIDAD_CUOTAS] [int] NOT NULL,
	[ESTADO] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_DOCUMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EMPLEADO] ON 

INSERT [dbo].[EMPLEADO] ([IDENTIFICADOR], [ID_PERSONA], [TANDA_LABOR], [PORCIENTO_COMISION], [FECHA_INGRESO], [ESTADO], [SUELDO]) VALUES (1, 1, N'Nocturna', CAST(0.10 AS Decimal(3, 2)), CAST(N'2021-01-01' AS Date), N'Activo', CAST(125000.00 AS Decimal(8, 2)))
INSERT [dbo].[EMPLEADO] ([IDENTIFICADOR], [ID_PERSONA], [TANDA_LABOR], [PORCIENTO_COMISION], [FECHA_INGRESO], [ESTADO], [SUELDO]) VALUES (2, 2, N'Nocturna', CAST(0.00 AS Decimal(3, 2)), CAST(N'2021-02-22' AS Date), N'Activo', CAST(100000.00 AS Decimal(8, 2)))
INSERT [dbo].[EMPLEADO] ([IDENTIFICADOR], [ID_PERSONA], [TANDA_LABOR], [PORCIENTO_COMISION], [FECHA_INGRESO], [ESTADO], [SUELDO]) VALUES (3, 3, N'Diurna', CAST(0.00 AS Decimal(3, 2)), CAST(N'2005-03-01' AS Date), N'Activo', CAST(250000.00 AS Decimal(8, 2)))
SET IDENTITY_INSERT [dbo].[EMPLEADO] OFF
GO
SET IDENTITY_INSERT [dbo].[ESTUDIANTE] ON 

INSERT [dbo].[ESTUDIANTE] ([IDENTIFICADOR], [MATRICULA], [ID_PERSONA], [CARRERA], [FECHA_REGISTRO], [ESTADO]) VALUES (1, N'20200000', 6, N'ISO', CAST(N'2019-05-02' AS Date), N'Activo')
INSERT [dbo].[ESTUDIANTE] ([IDENTIFICADOR], [MATRICULA], [ID_PERSONA], [CARRERA], [FECHA_REGISTRO], [ESTADO]) VALUES (2, N'20200001', 7, N'DIN', CAST(N'2012-02-26' AS Date), N'Inactivo')
INSERT [dbo].[ESTUDIANTE] ([IDENTIFICADOR], [MATRICULA], [ID_PERSONA], [CARRERA], [FECHA_REGISTRO], [ESTADO]) VALUES (3, N'20200002', 8, N'PUB', CAST(N'2009-03-14' AS Date), N'Activo')
SET IDENTITY_INSERT [dbo].[ESTUDIANTE] OFF
GO
SET IDENTITY_INSERT [dbo].[MODALIDAD_PAGO] ON 

INSERT [dbo].[MODALIDAD_PAGO] ([ID_TIPO_DOCUMENTO], [DESCRIPCION], [CANTIDAD_CUOTAS], [ESTADO]) VALUES (1, N'3 Cuotas', 3, N'Inactivo')
INSERT [dbo].[MODALIDAD_PAGO] ([ID_TIPO_DOCUMENTO], [DESCRIPCION], [CANTIDAD_CUOTAS], [ESTADO]) VALUES (2, N'4 Cuotas', 4, N'Activo')
SET IDENTITY_INSERT [dbo].[MODALIDAD_PAGO] OFF
GO
SET IDENTITY_INSERT [dbo].[PERSONA] ON 

INSERT [dbo].[PERSONA] ([ID_PERSONA], [NOMBRE], [FECHA_NACIMIENTO], [GENERO], [CEDULA], [TIPO_CLIENTE], [SALDO]) VALUES (1, N'Guillermo Matos Romero', CAST(N'2001-02-02' AS Date), N'M', N'00000000000', N'EMPLEADO', CAST(10000.00 AS Decimal(8, 2)))
INSERT [dbo].[PERSONA] ([ID_PERSONA], [NOMBRE], [FECHA_NACIMIENTO], [GENERO], [CEDULA], [TIPO_CLIENTE], [SALDO]) VALUES (2, N'Amauris Gabriel Archibald Perez', CAST(N'2000-10-29' AS Date), N'M', N'40210306391', N'EMPLEADO', CAST(0.00 AS Decimal(8, 2)))
INSERT [dbo].[PERSONA] ([ID_PERSONA], [NOMBRE], [FECHA_NACIMIENTO], [GENERO], [CEDULA], [TIPO_CLIENTE], [SALDO]) VALUES (3, N'Jose Maria Aranjo', CAST(N'1993-08-16' AS Date), N'M', N'00000000000', N'EMPLEADO', CAST(6000.00 AS Decimal(8, 2)))
SET IDENTITY_INSERT [dbo].[PERSONA] OFF
GO
SET IDENTITY_INSERT [dbo].[REG_MOV_CAJA] ON 

INSERT [dbo].[REG_MOV_CAJA] ([ID_REG_MOV_CAJA], [ID_VENDEDOR], [ID_CLIENTE], [ID_TIPO_SERVICIO], [ID_TIPO_DOCUMENTO], [ID_TIPO_PAGO], [FECHA_REG_MOV_CAJA], [MONTO_REG_MOV_CAJA], [ESTADO_REG_MOV_CAJA]) VALUES (1, 1, 1, NULL, 1, 1, CAST(N'2000-03-03T00:00:00.000' AS DateTime), CAST(5000.00 AS Decimal(8, 2)), N'Activo')
INSERT [dbo].[REG_MOV_CAJA] ([ID_REG_MOV_CAJA], [ID_VENDEDOR], [ID_CLIENTE], [ID_TIPO_SERVICIO], [ID_TIPO_DOCUMENTO], [ID_TIPO_PAGO], [FECHA_REG_MOV_CAJA], [MONTO_REG_MOV_CAJA], [ESTADO_REG_MOV_CAJA]) VALUES (2, 1, 1, 1, NULL, 1, CAST(N'2009-01-01T00:00:00.000' AS DateTime), CAST(5000.00 AS Decimal(8, 2)), N'Activo')
INSERT [dbo].[REG_MOV_CAJA] ([ID_REG_MOV_CAJA], [ID_VENDEDOR], [ID_CLIENTE], [ID_TIPO_SERVICIO], [ID_TIPO_DOCUMENTO], [ID_TIPO_PAGO], [FECHA_REG_MOV_CAJA], [MONTO_REG_MOV_CAJA], [ESTADO_REG_MOV_CAJA]) VALUES (3, 1, 3, NULL, 1, 1, CAST(N'2009-01-01T00:00:00.000' AS DateTime), CAST(6000.00 AS Decimal(8, 2)), N'Activo')
SET IDENTITY_INSERT [dbo].[REG_MOV_CAJA] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPO_DOCUMENTO] ON 

INSERT [dbo].[TIPO_DOCUMENTO] ([ID_TIPO_DOCUMENTO], [DESCRIPCION], [ESTADO]) VALUES (1, N'Factura', N'Activo')
INSERT [dbo].[TIPO_DOCUMENTO] ([ID_TIPO_DOCUMENTO], [DESCRIPCION], [ESTADO]) VALUES (2, N'Certificado', N'Activo')
INSERT [dbo].[TIPO_DOCUMENTO] ([ID_TIPO_DOCUMENTO], [DESCRIPCION], [ESTADO]) VALUES (3, N'Identificacion', N'Inactivo')
SET IDENTITY_INSERT [dbo].[TIPO_DOCUMENTO] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPO_PAGO] ON 

INSERT [dbo].[TIPO_PAGO] ([ID_TIPO_PAGO], [DESCRIPCION], [ESTADO]) VALUES (1, N'Efectivo', N'Activo')
INSERT [dbo].[TIPO_PAGO] ([ID_TIPO_PAGO], [DESCRIPCION], [ESTADO]) VALUES (2, N'Con Tarjeta Presencial', N'Activo')
INSERT [dbo].[TIPO_PAGO] ([ID_TIPO_PAGO], [DESCRIPCION], [ESTADO]) VALUES (3, N'Cor Tarjeta En Linea', N'Activo')
SET IDENTITY_INSERT [dbo].[TIPO_PAGO] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPO_SERVICIO] ON 

INSERT [dbo].[TIPO_SERVICIO] ([ID_TIPO_SERVICIO], [DESCRIPCION], [ESTADO]) VALUES (1, N'Revision', N'Activo')
INSERT [dbo].[TIPO_SERVICIO] ([ID_TIPO_SERVICIO], [DESCRIPCION], [ESTADO]) VALUES (2, N'Certificado', N'Activo')
INSERT [dbo].[TIPO_SERVICIO] ([ID_TIPO_SERVICIO], [DESCRIPCION], [ESTADO]) VALUES (3, N'Servicio De Pago', N'Activo')
SET IDENTITY_INSERT [dbo].[TIPO_SERVICIO] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([ID_USUARIO], [NOMBRE_USUARIO], [PASSWORD], [TIPO_USUARIO], [ID_EMPLEADO]) VALUES (1, N'Amauris', N'0E0532CAC27F275485F2BEAD4C8398', N'Administrador', NULL)
INSERT [dbo].[USUARIO] ([ID_USUARIO], [NOMBRE_USUARIO], [PASSWORD], [TIPO_USUARIO], [ID_EMPLEADO]) VALUES (2, N'guillermomatosromero', N'9C9F57EFE04F8F5A65B699DB1C7772', N'Administrador', 1)
INSERT [dbo].[USUARIO] ([ID_USUARIO], [NOMBRE_USUARIO], [PASSWORD], [TIPO_USUARIO], [ID_EMPLEADO]) VALUES (3, N'amaurisgabrielarchibaldperez', N'8FC1FEBAE352F62F92A7E9FBF6B1FB', N'Administrador', 2)
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD  CONSTRAINT [FK__EMPLEADO__ID_PER__403A8C7D] FOREIGN KEY([ID_PERSONA])
REFERENCES [dbo].[PERSONA] ([ID_PERSONA])
GO
ALTER TABLE [dbo].[EMPLEADO] CHECK CONSTRAINT [FK__EMPLEADO__ID_PER__403A8C7D]
GO
ALTER TABLE [dbo].[ESTUDIANTE]  WITH CHECK ADD  CONSTRAINT [FK__ESTUDIANT__ID_PE__412EB0B6] FOREIGN KEY([ID_PERSONA])
REFERENCES [dbo].[PERSONA] ([ID_PERSONA])
GO
ALTER TABLE [dbo].[ESTUDIANTE] CHECK CONSTRAINT [FK__ESTUDIANT__ID_PE__412EB0B6]
GO
ALTER TABLE [dbo].[REG_MOV_CAJA]  WITH CHECK ADD FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[PERSONA] ([ID_PERSONA])
GO
ALTER TABLE [dbo].[REG_MOV_CAJA]  WITH CHECK ADD FOREIGN KEY([ID_TIPO_SERVICIO])
REFERENCES [dbo].[TIPO_SERVICIO] ([ID_TIPO_SERVICIO])
GO
ALTER TABLE [dbo].[REG_MOV_CAJA]  WITH CHECK ADD FOREIGN KEY([ID_TIPO_DOCUMENTO])
REFERENCES [dbo].[TIPO_DOCUMENTO] ([ID_TIPO_DOCUMENTO])
GO
ALTER TABLE [dbo].[REG_MOV_CAJA]  WITH CHECK ADD FOREIGN KEY([ID_TIPO_PAGO])
REFERENCES [dbo].[TIPO_PAGO] ([ID_TIPO_PAGO])
GO
ALTER TABLE [dbo].[REG_MOV_CAJA]  WITH CHECK ADD FOREIGN KEY([ID_VENDEDOR])
REFERENCES [dbo].[EMPLEADO] ([IDENTIFICADOR])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_EMPLEADO] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[EMPLEADO] ([IDENTIFICADOR])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_EMPLEADO]
GO
/****** Object:  StoredProcedure [dbo].[INSERTA_TIPO_DOCUMENTO]    Script Date: 4/11/2021 2:14:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREATE TABLE TIPO_PAGO
--(
--	ID_TIPO_PAGO INT IDENTITY(1,1) PRIMARY KEY,
--	DESCRIPCION VARCHAR(300),
--	ESTADO VARCHAR(50)
--)
--CREATE TABLE TIPO_DOCUMENTO
--(
--	ID_TIPO_DOCUMENTO INT IDENTITY(1,1) PRIMARY KEY,
--	DESCRIPCION VARCHAR(300),
--	ESTADO VARCHAR(50)
--)
--CREATE TABLE TIPO_SERVICIO
--(
--	ID_TIPO_SERVICIO INT IDENTITY(1,1) PRIMARY KEY,
--	DESCRIPCION VARCHAR(300),
--	ESTADO VARCHAR(50)
--)

CREATE PROC [dbo].[INSERTA_TIPO_DOCUMENTO]
(
	@DESCRIPCION VARCHAR(300),
	@ESTADO VARCHAR(50)
)
AS
BEGIN
	INSERT INTO TIPO_DOCUMENTO VALUES(@DESCRIPCION,@ESTADO)
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTA_TIPO_PAGO]    Script Date: 4/11/2021 2:14:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREATE TABLE TIPO_PAGO
--(
--	ID_TIPO_PAGO INT IDENTITY(1,1) PRIMARY KEY,
--	DESCRIPCION VARCHAR(300),
--	ESTADO VARCHAR(50)
--)
--CREATE TABLE TIPO_DOCUMENTO
--(
--	ID_TIPO_DOCUMENTO INT IDENTITY(1,1) PRIMARY KEY,
--	DESCRIPCION VARCHAR(300),
--	ESTADO VARCHAR(50)
--)
--CREATE TABLE TIPO_SERVICIO
--(
--	ID_TIPO_SERVICIO INT IDENTITY(1,1) PRIMARY KEY,
--	DESCRIPCION VARCHAR(300),
--	ESTADO VARCHAR(50)
--)

CREATE PROC [dbo].[INSERTA_TIPO_PAGO]
(
	@DESCRIPCION VARCHAR(300),
	@ESTADO VARCHAR(50)
)
AS
BEGIN
	INSERT INTO TIPO_PAGO VALUES(@DESCRIPCION,@ESTADO)
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTA_TIPO_SERVICIO]    Script Date: 4/11/2021 2:14:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREATE TABLE TIPO_PAGO
--(
--	ID_TIPO_PAGO INT IDENTITY(1,1) PRIMARY KEY,
--	DESCRIPCION VARCHAR(300),
--	ESTADO VARCHAR(50)
--)
--CREATE TABLE TIPO_DOCUMENTO
--(
--	ID_TIPO_DOCUMENTO INT IDENTITY(1,1) PRIMARY KEY,
--	DESCRIPCION VARCHAR(300),
--	ESTADO VARCHAR(50)
--)
--CREATE TABLE TIPO_SERVICIO
--(
--	ID_TIPO_SERVICIO INT IDENTITY(1,1) PRIMARY KEY,
--	DESCRIPCION VARCHAR(300),
--	ESTADO VARCHAR(50)
--)

CREATE PROC [dbo].[INSERTA_TIPO_SERVICIO]
(
	@DESCRIPCION VARCHAR(300),
	@ESTADO VARCHAR(50)
)
AS
BEGIN
	INSERT INTO TIPO_SERVICIO VALUES(@DESCRIPCION,@ESTADO)
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_EMPLEADO]    Script Date: 4/11/2021 2:14:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_EMPLEADO]
(
	@NOMBRE VARCHAR(60),
	@FECHA_NACIMIENTO DATE,
	@GENERO CHAR(1),
	@CEDULA CHAR(11),
	@TANDA_LABOR VARCHAR(50),
	@PORCIENTO_COMISION DECIMAL(3,2),
	@FECHA_INGRESO DATE,
	@SUELDO DECIMAL(8,2),
	@TIPO_USUARIO VARCHAR(50),
	@ESTADO VARCHAR(50)
) 
AS 
BEGIN
	EXECUTE INSERTAR_PERSONA @NOMBRE, @FECHA_NACIMIENTO, @GENERO, @CEDULA, 'EMPLEADO'
	INSERT INTO EMPLEADO (ID_PERSONA, TANDA_LABOR, PORCIENTO_COMISION, FECHA_INGRESO, SUELDO, ESTADO)
		VALUES (
		(SELECT MAX(ID_PERSONA) FROM PERSONA),
		@TANDA_LABOR,
		@PORCIENTO_COMISION,
		@FECHA_INGRESO,
		@SUELDO,
		@ESTADO)

	EXECUTE INSERTAR_USUARIO @NOMBRE,@CEDULA,@TIPO_USUARIO
	PRINT 'LA PERSONA HA SIDO INSERTADA'
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_ESTUDIANTE]    Script Date: 4/11/2021 2:14:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_ESTUDIANTE]
(
	@NOMBRE VARCHAR(60),
	@FECHA_NACIMIENTO DATE,
	@GENERO CHAR(1),
	@CEDULA CHAR(11),
	@CARRERA CHAR(3),
	@FECHA_REGISTRO DATE,
	@ESTADO VARCHAR(50)
) 
AS 
BEGIN
	IF EXISTS (SELECT MATRICULA FROM ESTUDIANTE)
		BEGIN
			DECLARE @MATRICULA INT= (SELECT MAX(MATRICULA) FROM ESTUDIANTE)
			SET @MATRICULA=@MATRICULA+1
		END
	ELSE
		BEGIN
			SET @MATRICULA=20200000
		END

	EXECUTE INSERTAR_PERSONA @NOMBRE, @FECHA_NACIMIENTO, @GENERO, @CEDULA, 'ESTUDIANTE'
	INSERT INTO ESTUDIANTE (ID_PERSONA,MATRICULA, CARRERA, FECHA_REGISTRO, ESTADO)
		VALUES (
		(SELECT MAX(ID_PERSONA) FROM PERSONA),
		CONVERT(CHAR(8),@MATRICULA),
		@CARRERA,
		@FECHA_REGISTRO,
		@ESTADO)
		PRINT 'LA PERSONA HA SIDO INSERTADA'
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_MODALIDAD_PAGO]    Script Date: 4/11/2021 2:14:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[INSERTAR_MODALIDAD_PAGO]
(
	@DESCRIPCION VARCHAR(300),
	@CANTIDAD_CUOTAS INT,
	@ESTADO VARCHAR(50)
)
AS
BEGIN
	INSERT INTO MODALIDAD_PAGO VALUES(@DESCRIPCION, @CANTIDAD_CUOTAS, @ESTADO)
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_PERSONA]    Script Date: 4/11/2021 2:14:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_PERSONA]
(
	@NOMBRE VARCHAR(60),
	@FECHA_NACIMIENTO DATE,
	@GENERO CHAR(1),
	@CEDULA CHAR(11),
	@TIPO_CLIENTE VARCHAR(25)
) 
AS 
BEGIN
	INSERT INTO PERSONA 
		VALUES (
		@NOMBRE,
		@FECHA_NACIMIENTO,
		@GENERO,
		@CEDULA,
		@TIPO_CLIENTE,
		0)
		PRINT 'LA PERSONA HA SIDO INSERTADA'
		RETURN
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_REG_MOV_CAJA]    Script Date: 4/11/2021 2:14:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREATE TABLE REG_MOV_CAJA
--(
--	ID_REG_MOV_CAJA INT IDENTITY(1,1) PRIMARY KEY,
--	ID_VENDEDOR INT FOREIGN KEY REFERENCES EMPLEADO(IDENTIFICADOR),
--	ID_CLIENTE INT FOREIGN KEY REFERENCES PERSONA(ID_PERSONA),
--	ID_TIPO_SERVICIO INT FOREIGN KEY REFERENCES TIPO_SERVICIO(ID_TIPO_SERVICIO),
--	ID_TIPO_DOCUMENTO INT FOREIGN KEY REFERENCES TIPO_DOCUMENTO(ID_TIPO_DOCUMENTO),
--	ID_TIPO_PAGO INT FOREIGN KEY REFERENCES TIPO_PAGO(ID_TIPO_PAGO),
--	FECHA_REG_MOV_CAJA DATETIME NOT NULL,
--	MONTO_REG_MOV_CAJA DECIMAL(8,2),
--	ESTADO_REG_MOV_CAJA VARCHAR(50) NOT NULL
--)

CREATE   PROC [dbo].[INSERTAR_REG_MOV_CAJA]
(
	@ID_VENDEDOR INT,
	@ID_CLIENTE INT,
	@TIPO_SERVICIO INT,
	@TIPO_DOC INT,
	@TIPO_PAGO INT,
	@FECHA DATETIME,
	@MONTO DECIMAL (8,2),
	@ESTADO VARCHAR(50)
)
AS
BEGIN
	INSERT INTO REG_MOV_CAJA VALUES(@ID_VENDEDOR,@ID_CLIENTE,@TIPO_SERVICIO,@TIPO_DOC,@TIPO_PAGO,@FECHA,@MONTO,@ESTADO)
	UPDATE PERSONA SET SALDO =SALDO +@MONTO WHERE ID_PERSONA=@ID_CLIENTE
END

GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_USUARIO]    Script Date: 4/11/2021 2:14:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[INSERTAR_USUARIO]
(
	@NOMBRE_USUARIO VARCHAR(50),
	@PASSWORD VARCHAR(500),
	@TIPO_USUARIO VARCHAR(50)
)
AS
BEGIN
	
	DECLARE @P_USERNAME VARCHAR(51)
	DECLARE @CONTADOR INT=0
	DECLARE @NOMBRE VARCHAR(50)=(SELECT NOMBRE FROM PERSONA WHERE ID_PERSONA=(SELECT MAX(ID_PERSONA) FROM PERSONA)) 
	DECLARE @ID_EMPLEADO INT = (SELECT MAX(IDENTIFICADOR) FROM EMPLEADO)

	SET @NOMBRE=LOWER(LTRIM(RTRIM([DBO].[LimpiarCaracteres](@NOMBRE))))
	SET @NOMBRE_USUARIO= LOWER(LTRIM(REPLACE(@NOMBRE,' ','')))
	SET @P_USERNAME=@NOMBRE_USUARIO

	WHILE EXISTS(SELECT TOP 1 NOMBRE_USUARIO FROM USUARIO WHERE NOMBRE_USUARIO=@P_USERNAME)
		BEGIN
			SET @CONTADOR=@CONTADOR+1
			SET @P_USERNAME=@NOMBRE_USUARIO+CONVERT(VARCHAR,@CONTADOR)
		END

	SET @NOMBRE_USUARIO=@P_USERNAME
	INSERT INTO USUARIO VALUES(@NOMBRE_USUARIO,CONVERT(VARCHAR,HASHBYTES('SHA2_256',@PASSWORD),2),@TIPO_USUARIO,@ID_EMPLEADO)
END
GO
